@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --sidebar-bg: #20a39e;
}
body {
  font-family: 'Roboto';
  height: 100vh;
}

#content {
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 5fr;
  grid-template-rows: 2fr 4fr;
  height: 100%;
}

#content > aside {
  grid-row: 1 / -1;
  background-color: var(--sidebar-bg);
  color: white;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  z-index: 2;
  /* display: flex;
  flex-direction: column; */
}
#content > aside > h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 30px;
}
#content > aside > h1::before {
  /* content: ''; */
}
#content > aside > nav {
  display: grid;
  grid-template-rows: 3fr 1fr;
}
#content > aside > nav > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#content > header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  padding: 30px 30px 0 30px;
}
#content > header > .bottom-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
#content > header ul {
  display: flex;
  gap: 15px;
}
#content > header button {
  background-color: var(--sidebar-bg);
  color: white;
  border: none;
  border-radius: 30px;
  /* padding: 15px 0px; */
  height: 45px;
  flex: 1;
  font-weight: bold;
}
#content > main {
  grid-column: 2 / -1;
  background-color: #e4e5e6;
}
